---
slug: "shiping"
---

Calculate shiping price

{% parse_json "shipment_data" %}
{
  "address_from":{
    "name":"Mr. Hip",
    "street1":"215 Clayton St.",
    "city":"San Francisco",
    "state":"CA",
    "zip":"94117",
    "country":"US"
  },
  "address_to":{
      "name":"Mrs. Hippo",
      "street1":"965 Mission St.",
      "city":"San Francisco",
      "state":"CA",
      "zip":"94105",
      "country":"US"
  },
  "parcels":[
    {
      "length":"90",
      "width":"21",
      "height":"21",
      "distance_unit":"cm",
      "weight":"1.3",
      "mass_unit":"kg"
      }   ],
   "async": false
}
{% endparse_json %}


{% parse_json "data" %}
  {
    "properties": [
       { "name": "request_type", "value": "create_shipment" },
       { "name": "data", "value":  "{{ shipment_data | json | escape_javascript }}" } 
     ]
  }
{% endparse_json %}

{% graphql g = "modules/payments/create_customization", form: "modules/shippo/shippo_request_form", data: data %}
{% parse_json "shipment" %}{{ g.customization_create.properties.response }}{% endparse_json %}

<p>{{ shipment.object_id }}</p>
<p>
  Address To: {{ shipment.address_to }}
</p>
<p>
  Address From: {{ shipment.address_from }}
</p>
{{ shipment }}
<ul>
  {% for rate in shipment.rates %}
    <li>
      {{ rate.amount | pricify: rate.currency }}, {{ rate.provider }}
      <span>{{ rate.duration_terms }}</span>
      <span>{{ rate.object_id }}</span>
    </li>
  {% endfor %}
</ul>
